body{
    background: #43c6ac;
    background: -webkit-linear-gradient(to right, #191654, #43c6ac);
    background: linear-gradient(to right, #191654, #43c6ac);
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.jumbotron {
    background: #283048; 
    background: -webkit-linear-gradient(to right, #859398, #283048);
    background: linear-gradient(to right, #859398, #283048);
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
}
  
.jumbotron p:last-child {
    margin-bottom: 0;
}
  
.jumbotron-heading {
    font-weight: 300;
}
  
.jumbotron .container {
    max-width: 40rem;
}
  
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
  
footer p {
    margin-bottom: .25rem;
}

#error{
    background-image: url(https://media1.tenor.com/images/ea9ff4824adba932f227084b09d0ec1e/tenor.gif?itemid=16320751);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    text-align: center;
    font-size: 40px;
    margin-top: 170px;
    margin-left: -200px;
}

.movieDetails{
    align-items: center;

}

.title{
    text-align: center;
    color: #a33202;
    width: 100%;
    height: 130px;
    padding-top: 50px;
    padding-bottom: 4px;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 0 1px 0 #efefef, 0 2px 0 #efefef, 0 3px 0 #efefef,
      0 4px 0 #efefef, 0 30px 5px rgba(0, 0, 0, 0.1);
}

.description{
    font-family: sans-serif;
    text-align: center;
    color: rgb(210, 224, 14);
    width: 100%;
    padding-bottom: 2px;
    height: auto;
    width : auto;

}

/* share button  */

.share_btn {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
  
.share_btn a i {
    font-size: 32px;
}
  
.share_btn a {
    margin: 12px 0;
    transition: 500ms;
}
  
.share_btn a:hover {
    transform: scale(1.2);
}
  
.share_btn .fa-facebook {
    color: #3b5998;
}
  
.share_btn .fa-twitter {
    color: #1da1f2;
}
  
.share_btn .fa-linkedin {
    color: #0077b5;
}
  
  
.share_btn .fa-whatsapp {
    color: #25d366;
}

